{% extends 'public/main.html'%}
{% block body %}
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;padding:1rem;">How it Works</h1>
            <div class="col-md-8">
                <h4>For Buyers</h4>
                <ol>
                    <li>Use the search panel to find an item on offer 
                        <p>Find what you need using search panel and apply relevant filters. We have thousands of adverts, browse through and choose precisely what you are looking for. </p>
                    </li>
                    <li>Contact the seller
                        <p>You may use chat on OfferYangu or call them via phone. Discuss all the details and reach an agreement regarding the item or service on offer.   </p>
                    </li>
                    <li>Collect your item or request a delivery
                        <p>Meet the seller in public place and be sure to pay only after collecting and inspecting the item. </p>
                    </li>
                    <li>Leave your feedback by providing a genuine review about the offer and seller
                        <p>Feel free to tell us about your purchase. Your review will be published online on the seller’s page and will be very helpful for other buyers. Let’s cultivate and promote a vibrant bargain hunters movement together!  </p>
                    </li>
                </ol>
            </div>
            <div class="col-md-4">
                <h4>Safety Tips for Buyers</h4>
                <ul>
                    <li>Do not pay in advance (except to OfferYangu Business Till). </li>
                    <li>Try to meet at a safe, public location</li>
                    <li>Check the item on offer BEFORE you buy it</li>
                    <li>Pay only after collecting and inspecting the item</li>
                    <li>Never give out your financial information, including mpesa details </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}