{% extends 'public/main.html'%}
{% block body %}
    <div class="container">
        <div class="row safety-tips-offeryangu">
            <h2>Safety Tips</h2>
            <div class="col">
                <h4>Buyer Safety Tips</h4>
                <ul>
                    <li>Do not pay in advance (except to OfferYangu Business Till). </li>
                    <li>Try to meet at a safe, public location</li>
                    <li>Check the item on offer BEFORE you buy it</li>
                    <li>Pay only after collecting and inspecting the item</li>
                    <li>Never give out your financial information, including mpesa details </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}