{% extends 'public/main.html'%} {% block body %} {% block head %}
<style>
    @media (min-width: 960px) {
        .jumbotron-fluid h1 {
            display: none;
        }
        .jumbotron-fluid {
            height: 150px;
            padding-top: 100px;
            border-radius: 0;
            margin-bottom: 2rem;
        }
        .jumbotron-fluid input,
        .jumbotron-fluid select,
        .jumbotron-fluid button {
            height: 30px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
</style>
{% endblock head %}
<div class="container output-results">
    <h2 style="font-size: 2rem;color: #00008B">Offers Found</h2>
    <div class="row">
        {% for product in output.items %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100">
                <a href="{{url_for('src.views.products.viewproduct', id=product.id)}}">
                    <div class="card-img-top id_{{product.id}}">
                        <img src="{{url_for('static', filename='images/uploads/'+product.path_1)}}" alt="" style="width: 100%;height:200px;">
                    </div>
                </a>
                <div class="commission-btn"><small>{{(((product.market_price - product.price) / product.market_price ) * 100) | round}}% off</small></div>
                <div class="like-btn">
                    {% if current_user.is_authenticated %}
                    <small>
                                    {% if product.id | likes | restrict %}
                                        <form action="{{url_for('src.views.products.like', id=product.id)}}" method="POST">
                                            <button type="submit" class="like-btn-foreign"><i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;{{product.id | pipe}} likes</button>
                                        </form>
                                    {% else %}
                                        <button class="like-btn-foreign"><i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;{{product.id | pipe}} likes</button>
                                    {% endif %}
                                </small> {%else%}
                    <small>
                                    <button class="like-btn-foreign" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal"><i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;{{product.id | pipe}} likes</button>
                                </small> {% endif %}
                </div>

                <div class="card-body">
                    <h6 class="card-title">
                        <a href="" class="product-name">{{product.name}}</a>
                    </h6>
                    <small class="canceled">
                                Ksh.&nbsp;{{product.market_price}}
                            </small>
                    <span class="current">Ksh.&nbsp;{{product.price}}&nbsp;&nbsp;&nbsp;</span>
                    <p>
                        <small class="location">Posted from {{product.location}} | offer ending on {{ (product.date_ending).date().day ~ "th" }}&nbsp;{{ calendar.month_abbr[(product.date_ending).date().month] }}&nbsp;{{ (product.date_ending).date().year }}
                                </small>
                    </p>
                </div>
                <h6 class="categories">
                    {% if product.id | likes | restrict %}
                    <small class="Description"><i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;{{product.id | pipe}} likes | haven't liked this product</small> {% else %}
                    <small class="Description"><i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;liked</small> {% endif %}
                </h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination" style="display: flex; justify-content: center;align-items: center;">
    {% for pages in output.iter_pages()%} {% if pages %}
    <a href="{{url_for('src.views.products.search', page=pages, query=query)}}">{{pages}}</a> {% endif %} {% endfor %}
</div>

{% block scripts%}
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock scripts%} {% endblock body%}