{% extends 'public/main.html'%}
{% block body %}
    <div class="container">
        <div class="row" class="for-sellers">
            <h1 style="text-align:center;padding:1rem;">How it Works</h1>
            <div class="col">
                <h4>For Sellers</h4>
                <ol>
                    <li>Register
                        <p>Register using your e-mail and phone number. Ensure you enter a valid phone number to enable buyers to easily reach you. </p>
                    </li>
                    <li>Make photos of your item that you are selling on offer
                        <p>Feel free to make a lot of photos using your smartphone using the best lighting.  </p>
                    </li>
                    <li>Press POST.
                        <p>Choose a proper category, upload your photos and write a clear title and full description of your offer and item. Enter a fair offer price, select the appropriate tags and send your advert to review! </p>
                    </li>
                    <li>Answer the messages and calls from your clients!
                        <p>If everything is ok with your advert, it’ll be on OfferYangu in minutes after sending to moderation. You will receive a notification when your offer advertisement goes through. Check your messages and be ready to make sales, earning money in the process.  </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}